# Created by .ignore support plugin (hsz.mobi)
Будет удалено .gitignore
Будет удалено .idea/encodings.xml
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/test.iml
Будет удалено .idea/workspace.xml
Будет удалено .idea/vcs.xml
